$fontSize: 90px; 

.wrapper{
    margin: auto;
    width: 50%;
}
    
.canvasWrapper {
    position: relative;
}

.canvasRound {
    position: absolute;
    font-size: 90px;
    top: calc(50% - 51px); 
    left: calc(50% - 35px); 
}

.canvasTriangle {
    position: absolute;
    top: calc(50% - 55px); 
    left: calc(50% - 39px);
    font-size: $fontSize;
}


@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .wrapper{
        padding: 0px !important;
        height: auto;
        margin-top: 50px;
    }

    
    .canvasWrapper {
        position: relative;
        width: 288px !important;
        height: 144px !important;
        margin-left: -60px;
        margin-bottom: 170px;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% + 20px); 
        left: calc(50% - 35px);
        font-size: $fontSize;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% + 15px); 
        left: calc(50% - 35px);
        font-size: $fontSize;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    .wrapper{
        padding: 0px !important;
        height: auto;
        margin-top: 30px;
    }

    
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% - 50px); 
        left: calc(50% - 35px);
        font-size: $fontSize;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 60px); 
        left: calc(50% - 35px);
        font-size: $fontSize;
    }
}
@media only screen and (device-width:768px){
    /* default iPad screens */
    .wrapper{
        padding: 0px !important;
        height: auto;
        margin-top: 30px;
    }

    
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% - 50px); 
        left: calc(50% - 35px);
        font-size: $fontSize;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 60px); 
        left: calc(50% - 35px);
        font-size: $fontSize;
    }
}
@media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
    .wrapper{
        margin: auto;
        width: 50%;
    }

        
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% - 51px); 
        left: calc(50% - 35px);
        font-size: $fontSize;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 55px); 
        left: calc(50% - 39px);
        font-size: $fontSize;
    }
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    .wrapper{
        margin: auto;
        width: 50%;
    }

        
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% - 51px); 
        left: calc(50% - 35px);
        font-size: $fontSize;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 55px); 
        left: calc(50% - 39px);
        font-size: $fontSize;
    }
}
