 .wrapper{
        margin: auto;
        width: 50%;
    }
        
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
        font-size: 90px;
        top: calc(50% - 51px); 
        left: calc(50% - 35px); 
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 55px); 
        left: calc(50% - 39px);
        font-size: 90px;
    }

@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .wrapper{
        padding: 0px !important;
        height: auto;
        margin-top: 30px;
    }

    
    .canvasWrapper {
        position: relative;
        width: 288px !important;
        height: 144px !important;
        margin-left: -70px;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% - 24px); 
        left: calc(50% - 20px);
        font-size: 50px;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 27px); 
        left: calc(50% - 22px);
        font-size: 50px;
    }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    .wrapper{
        padding: 0px !important;
        height: auto;
        margin-top: 30px;
    }

    
    .canvasWrapper {
        position: relative;
        
        width: 288px !important;
        height: 144px !important;
    }

    .canvasRound {
        position: absolute;
         top: calc(50% - 24px); 
        left: calc(50% - 20px);
        font-size: 50px;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 27px); 
        left: calc(50% - 22px);
        font-size: 50px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    .wrapper{
        padding: 0px !important;
        height: auto;
        margin-top: 30px;
    }

    
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% - 24px); 
        left: calc(50% - 20px);
        font-size: 50px;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 27px); 
        left: calc(50% - 22px);
        font-size: 50px;
    }
}
@media only screen and (device-width:768px){
    /* default iPad screens */
    .wrapper{
        padding: 0px !important;
        height: auto;
        margin-top: 30px;
    }

    
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% - 24px); 
        left: calc(50% - 20px);
        font-size: 50px;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 27px); 
        left: calc(50% - 20px);
        font-size: 50px;
    }
}
@media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
    .wrapper{
        margin: auto;
        width: 50%;
    }

        
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
        top: calc(50% - 51px); 
        left: calc(50% - 35px);
        font-size: 90px;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 55px); 
        left: calc(50% - 39px);
        font-size: 90px;
    }
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    .wrapper{
        margin: auto;
        width: 50%;
    }

        
    .canvasWrapper {
        position: relative;
    }

    .canvasRound {
        position: absolute;
         top: calc(50% - 51px); 
        left: calc(50% - 35px);
        font-size: 90px;
    }

    .canvasTriangle {
        position: absolute;
        top: calc(50% - 55px); 
        left: calc(50% - 39px);
        font-size: 90px;
    }
}
