// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.body-css {
  margin: 2em;
  background: linear-gradient(to bottom, #e8edf2 10%, #bdc6cc 100%);
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.tile {
  
  background: rgba(240,240,240,1);
  position: relative;
  /*border: 1px #A1A1A1 solid;*/
  -webkit-box-shadow: 1px 1px 5px 0px rgba(194,194,194,1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(194,194,194,1);
  box-shadow: 1px 1px 5px 0px rgba(194,194,194,1);
  
}

.tile .dvd {
  border-color: rgba(0,0,0,.1);
  border-style: solid;
  border-width: 0;
}

.tile .tile-header {
  padding: 8px 15px;
}

.tile .dvd.dvd-btm {
  border-bottom-width: 1px;
}

.tile-header {
  font-weight: bold;
  text-align: center;
  line-height: 46px;
  border-bottom: 1px solid #ccc;
}

.tile-body {
  padding: 16px;
}

