
#houseFire{
 position:relative;
    background:url('../assets/icon/house-0.png') center bottom no-repeat;
    background-size: 500px ;
    height:400px;
   
}

#flamegroup{
    margin:0 auto;
    position:relative;
    top:100px;
    width:200px; 
    height:272px;
}

.flame {
    width:200px;
    height:272px;

    margin: 0 auto;
    position: absolute;
    background:url('../assets/icon/flame-sprite.png') left bottom no-repeat;
    background-size: 300%;    
    animation: flicker 1.1s infinite;
}


#fl1 {
   animation: flicker 1.3s steps(1) infinite;
    top:20px;
    left:10px
}
#fl2 {
   animation: flicker .7s steps(1) infinite;
    top:10px;
    left:20px;
    
}
#fl3 {
   animation: flicker 1.1s steps(1) infinite;
}

/* flame pulses */
@keyframes flicker{
    0%, 
    100%{background-position:0px 0px; opacity:.8 }
    25% {background-position:-200px 0px;}
    50% {background-position:-400px 0px;; opacity:.6;}
    75% {background-position:-200px 0px;}
}